<app-sub-header></app-sub-header>
<div class="row no-gutters">
    <div class="col-md-3">
        <div class="aside-wrapper">
            <app-data-search (search)="onSearch($event)" ></app-data-search>
            <div class="categories-wrapper">
                <div class="categories-header">
                    <span>Выбрать категорию</span>
                </div>
                <ul class="categories-menu">
                    <li (click)="onFilterByCategory('Менеджер')">Менеджер</li>
                    <li (click)="onFilterByCategory('Раб')">Раб</li>
                    <li (click)="onFilterByCategory('Все')">Все</li>
                </ul>              
            </div>            
        </div>       
    </div>
    <div class="col-md-9">
        <div class="table-wrapper">
            <app-data-table [dataSource]="users" (sortKey)="onSort($event)"></app-data-table>
        </div>
    </div>
    
</div>




